body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
}

.login-banner {
    background-image: url("../img/header-bg.jpg");
    background-repeat: repeat-x;
    height: 190px;
}

.div-centered {
    margin:0 auto;
}

.margin-top {
    margin-top: 160px;
}

.img-responsive {
    margin: 0 auto;
}

.btn-emporium {
    background-color: #f76319;
    background-image: -moz-linear-gradient(top, #ff9403, #f76319);
    background-image: -ms-linear-gradient(top, #ff9403, #f76319);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9403), to(#f76319));
    background-image: -webkit-linear-gradient(top, #ff9403, #f76319);
    background-image: -o-linear-gradient(top, #ff9403, #f76319);
    background-image: linear-gradient(top, #ff9403, #f76319);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9403', endColorstr='#f76319', GradientType=0);
    color: #fff;
}
.btn-emporium:hover,
.btn-emporium:active,
.btn-emporium.active,
.btn-emporium.disabled,
.btn-emporium[disabled] {
    background-color: #ff9403;
    background-image: -webkit-linear-gradient(top, #e60000, #c00000);
    color: #ffffff;
}

.btn-emporium:active, .btn-emporium.active {
    background-color: #ff9403;
}

.tleft {
    text-align: left;
}